div.container#footer{
  position: fixed;
  color:green; 
  background-color:#7AD109; 
  bottom: 0;
  left: 0;
  right: 0;
  margin:0;
  width: 100%;
  background-color: #7AD109;

  
} 

.footer-image-container{
	height: 50px;
	max-width: 100%;
	
}
.taustakuva-image-container{
position: middle;
background-size:100%;
height: 140px;
display:block;
padding:100 !important;


}
