div.container#footer{
  position: fixed;
<<<<<<< HEAD
=======
<<<<<<< HEAD
  
 color:green; 
=======
  background-color:#7AD109; 
>>>>>>> master
>>>>>>> master
  bottom: 0;
  left: 0;
  right: 0;
  margin:0;
  width: 100%;
  background-color: #7AD109;

  
} 

.footer-image-container{
	height: 200px;
	max-width: 100%;
	
}
